<nav class="navbar navbar-expand-lg navbar-custom bg-black">
  <span class="navbar-brand">Sensor Data</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="btn btn-primary btn-sm" target="_blank" href="https://bitbucket.org/sensatmapp/angular-take-home-test-1/src/master/README.md" role="button">Task requirements</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <span>Karolos Talvis</span>
      </li>
    </ul>
  </div>
</nav>
